<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
</head>
<body>
    <h1>Select a File to Download</h1>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <ul>
        {% for file in files %}
            <li>{{ file }} - <a href="{{ url_for('download_view', filename=file) }}">Download</a></li>
        {% endfor %}
    </ul>
    <br>
    <a href="{{ url_for('index') }}">Back to Home</a>
</body>
</html>
